/******************************************************************************/
/*                                                                            */
/*                             INITIALISATION                                 */
/*                                                                            */
/******************************************************************************/

html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/******************************************************************************/
/*                                                                            */
/*                                  HEADER: ;                                 */
/*                                                                            */
/******************************************************************************/

header {
    width: 100%;
    padding: 1em;
    color: white;
    text-align: center;
    background: #35495E;
}

/******************************************************************************/
/*                                                                            */
/*                                    WRAPPER                                 */
/*                                                                            */
/******************************************************************************/

#wrapper {
    padding: 1em;
}

#wrapper table {
    margin: auto;
}

thead tr th {
    padding: 0.8em;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid black
}

td {
    padding: 0.8em;
    text-align: center;
}